In [22]:
import pandas as pd
import numpy as np
#Import the data samples
from multipy.data import neuhaus
#Import the FWER methods 
from multipy.fwer import bonferroni, holm_bonferroni
#Import the FDR methods (LSU is the other name for BH method)
from multipy.fdr import lsu

In [23]:
pvals = np.array([0.2532, 0.1253, 0.0297, 0.4019, 0.2369, 0.6934])
df = pd.DataFrame({'Features': ['Feature {}'.format(i) for i in range(1,len(pvals)+1  )], 'P-value':pvals})

In [18]:
df

    Features  P-value
0  Feature 1   0.2532
1  Feature 2   0.1253
2  Feature 3   0.0297
3  Feature 4   0.4019
4  Feature 5   0.2369
5  Feature 6   0.6934

In [20]:
neuhaus()

array([1.000e-04, 4.000e-04, 1.900e-03, 9.500e-03, 2.010e-02, 2.780e-02,
       2.980e-02, 3.440e-02, 4.590e-02, 3.240e-01, 4.262e-01, 5.719e-01,
       6.528e-01, 7.590e-01, 1.000e+00])

In [24]:
#Set the alpha level for your desired significant level
df['BFR'] = bonferroni(pvals, alpha=0.05)
df['HBFR'] = holm_bonferroni(pvals, alpha=0.05)
df['FDR'] = lsu(pvals, q=0.05)

In [25]:
df

    Features  P-value    BFR   HBFR    FDR
0  Feature 1   0.2532  False  False  False
1  Feature 2   0.1253  False  False  False
2  Feature 3   0.0297  False  False  False
3  Feature 4   0.4019  False  False  False
4  Feature 5   0.2369  False  False  False
5  Feature 6   0.6934  False  False  False